*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 800px;
    /* align-items: center; */
    /* flex-wrap:wrap ; */
    gap: 50px;
}
.container .child{
    background-color: hotpink;
    border: 10px solid black;
    font-size: 20px;
    color: white;
    width: 150px;
    height: 150px;
}
.container .child:nth-child(2){
    /* align-self: flex-start;
    flex-grow: 1; */
    flex-shrink: 10;
}
.container .child:nth-child(3){
    /* align-self: flex-start;
    flex-grow: 3; */
    flex-basis: 50px;
}